@import (reference) './variables.less';


@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Medium.woff);
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Bold.woff);
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font: 500 16px 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: #333A40;
}

a {
  text-decoration: none;

  color: inherit;
}

.container-fluid {
  padding: 0 70px;
}